@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");




body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background: #111;
    font-size: 1.3em;
}

h1 {
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 10px #00ccff, 0 0 30px #ff006f, 0 0 20cap #9900cc;
}


h2, input, a {
    color: #fff;
}

.wrapper {
    position: relative;
    width: 550px;
    height: 550px;
    display: grid;
    place-items: center;
    font-family: "Quicksand", sans-serif;
  }
  
  .circle-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .wrapper i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
  
    &:nth-child(1) {
      --clr: #00ccff;
      border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
      animation: anim1 9s linear infinite;
    }
  
    &:nth-child(2) {
      --clr: #ff0066;
      border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
      animation: anim2 6s linear infinite;
    }
  
    &:nth-child(3) {
      --clr: #9900cc;
      border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
      animation: anim3 15s linear infinite;
    }
  }
  
  .wrapper:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
  }
  
  @keyframes anim1 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes anim2 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes anim3 {
    0% {
      transform: rotate(360deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  

.login {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

h2 {
    font-size: 2em;
    margin: 0;
}

input {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 40px;
    padding: 12px 20px;
    box-sizing: border-box;
    background: transparent;
    font-size: 1.2em;
    box-shadow: none;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    background: 
     linear-gradient(45deg, #00ccff, #9900cc);
     border: none;
     cursor: pointer;
}

input::placeholder {
    color:  rgb(225, 225, 225, 0.75);
}
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

